/*!
 * https://github.com/arqex/react-datetime
 */

.rdt {
    position: relative;
}
.rdtPicker {
    display: none;
    position: absolute;
    width: 250px;
    padding: 4px;
    margin-top: 1px;
    z-index: 99999 !important;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
    display: block;
}
.rdtStatic .rdtPicker {
    box-shadow: none;
    position: static;
}

.rdtPicker .rdtTimeToggle {
    text-align: center;
}

.rdtPicker table {
    width: 100%;
    margin: 0;
}
.rdtPicker td,
.rdtPicker th {
    text-align: center;
    height: 28px;
}
.rdtPicker td.rdtToday:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
    background: #eeeeee;
    cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
    color: #999999;
}
.rdtPicker td.rdtToday {
    position: relative;
}
.rdtPicker td.rdtToday:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #428bca;
    border-top-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 4px;
    right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
    background-color: #428bca;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
    border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
    color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker th {
    border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
    width: 14.2857%;
    border-bottom: none;
}
.rdtPicker th.rdtSwitch {
    width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
    font-size: 21px;
    vertical-align: top;
}
.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
    background: none;
    color: #999999;
    cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
    cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
    background: #eeeeee;
}

.rdtPicker tfoot{
    border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
    border: none;
    background: none;
    cursor: pointer;
}
.rdtPicker button:hover {
    background-color: #eee;
}

.rdtPicker thead button {
    width: 100%;
    height: 100%;
}

td.rdtMonth,
td.rdtYear {
    height: 50px;
    width: 25%;
    cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
    background: #eee;
}

.rdtCounters {
    display: inline-block;
}

.rdtCounters > div{
    float: left;
}

.rdtCounter {
    height: 100px;
}

.rdtCounter {
    width: 40px;
}

.rdtCounterSeparator {
    line-height: 100px;
}

.rdtCounter .rdtBtn {
    height: 40%;
    line-height: 40px;
    cursor: pointer;
}
.rdtCounter .rdtBtn:hover {
    background: #eee;
}
.rdtCounter .rdtCount {
    height: 20%;
    font-size: 1.2em;
}

.rdtMilli {
    vertical-align: middle;
    padding-left: 8px;
    width: 48px;
}

.rdtMilli input {
    width: 100%;
    font-size: 1.2em;
    margin-top: 37px;
}


/*
    For Navigation
*/

.container{
    position: relative;
    width: 80%;
    margin: auto;
}

.navPublishHidden {
    display: none !important;
}

/*
    For Homepage
*/


.homepageContent {
    margin-top: 90px;
}

.homepageContent .homepageItemImage {
    height:250px;
    width: 100%;
    border-radius: 0;
}

.homepageItem {
    background-color: #eeeeee;
    border-radius: 10px;
    overflow: hidden;
}

.homepageItem .homepageItemState {
    position: absolute;
}

.homepageItem .homepageItemDetail {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.homepageItem .homepageItemDetail p {
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
    color: #666666;
}

.homepageItem .homepageItemDetail .homepageItemDetailTitle {
    line-height:20px;
    height: 40px;
    overflow: hidden;
    color: brown;
    font-size: 15px;
}

.homepageItem .homepageItemDetail .homepageItemDetailInfo {
    margin-top: 5px;
    line-height: 15px;
    height:15px;
    overflow: hidden;
    font-size: 13px;
}

.homepageItem a:hover{
    text-decoration: none;
}



/*
    For Finding
*/

.findingContent {
    margin-top: 90px;
}

.findingContent .findingType {
    width: 60%;
}

.findingContent .findingTypeLabel {
    height: 30px;
    line-height: 30px;
}

.findingContent .findingTypeNav li a{
    color: brown;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.findingContent .findingTypeNav li.active a {
    color: white;
    background-color: brown;
    line-height: 30px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.findingSection {
    margin-top: 30px;
}

.findingSection .findingItem .findingItemImage img{
    height: 250px;
    width: 100%;
}

.findingSection .findingItem .findingItemDetail {
    height: 250px;
}

.findingSection .findingItem .findingItemDetail p {
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
}

.findingSection .findingItem .findingItemDetail .findingItemTitle {
    color: brown;
    line-height:30px;
    height: 60px;
    overflow: hidden;
    font-size: 15px;
}

.findingSection .findingItem .findingItemDetail .findingItemInfo {
    line-height: 35px;
    height:35px;
    overflow: hidden;
    font-size: 13px;
}

.findingSection .findingItem .findingItemDetail .findingItemPay {
    color: #e08600;
}

.findingSection .findingItem a:hover{
    text-decoration: none;
}


/*
    For Founding
*/

.foundContent {
    margin-top: 90px;
}

.foundContent .foundType {
    width: 60%;
}

.foundContent .foundTypeLabel {
    height: 30px;
    line-height: 30px;
}

.foundContent .foundTypeNav li a{
    color: brown;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.foundContent .foundTypeNav li.active a {
    color: white;
    background-color: brown;
    line-height: 30px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.foundSection {
    margin-top: 30px;
}

.foundSection .foundItem .foundItemImage img{
    height: 250px;
    width: 100%;
}

.foundSection .foundItem .foundItemDetail {
    height: 250px;
}

.foundSection .foundItem .foundItemDetail p {
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
}

.foundSection .foundItem .foundItemDetail .foundItemTitle {
    color: brown;
    line-height:30px;
    height: 60px;
    overflow: hidden;
    font-size: 15px;
}

.foundSection .foundItem .foundItemDetail .foundItemInfo {
    line-height: 44px;
    height:44px;
    overflow: hidden;
    font-size: 13px;
}

.foundSection .foundItem .foundItemDetail .foundItemPay {
    color: #e08600;
}

.foundSection .foundItem a:hover{
    text-decoration: none;
}

/*
   rank
*/
.rankContent{
    margin-top: 90px;
}

.rankContent .rankTable {
    text-align: center;
}

.rankContent .rankBody tr{
    background-color: white !important;
}

.rankContent .rankBody tr:hover{
    background-color: #f5f5f5 !important;
}

/*
    findingview
*/

.findingViewContent {
    margin-top: 80px;
    margin-bottom: 80px;
}

.findingViewHeader {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.findingViewHeader .findingViewHeaderButton {
    width: 100%;
}

.findingViewHeader p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.findingViewBody {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.findingViewBody .findingViewBodyTitle{
    color: brown;
    text-align: center;
    font-size: 30px;
}

.findingViewBody p{
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
}

.findingViewBody .findingViewBodyImage{
    width: 100%;
    max-height: 500px;
    text-align: center;
}

.findingViewBody .findingViewBodyImage img {
    max-width: 100%;
    max-height: 100%;
}

.findingViewBody hr {
    border-top-color: #cccccc;
}

/*
    foundview
*/

.foundViewContent {
    margin-top: 80px;
    margin-bottom: 80px;
}

.foundViewHeader {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.foundViewHeader .foundViewHeaderButton {
    width: 100%;
}

.foundViewHeader p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.foundViewBody {
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.foundViewBody .foundViewBodyTitle{
    color: brown;
    text-align: center;
    font-size: 30px;
}

.foundViewBody p{
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
}

.foundViewBody .foundViewBodyImage{
    width: 100%;
    max-height: 500px;
    text-align: center;
}

.foundViewBody .foundViewBodyImage img {
    max-width: 100%;
    max-height: 100%;
}

.foundViewBody hr {
    border-top-color: #cccccc;
}

/*
    Me
*/

.meContainer {
    position: relative;
    width: 99%;
    margin: auto;
}

.meContent{
    margin-top: 71px;
}

.meNav a {
    color: brown;
}

.meNav li.active a{
    background-color: brown;
}

.meNav li.active a:hover {
    background-color: brown;
}

.meInfo input{
    width: 50%;
}

.meInfo input:focus{
    box-shadow: inset 0 -2px 0 brown !important;
}

.meInfo .btn {
    width: 50%;
    margin-top: 20px;
}

.meInfo .meInfoAlert{
    width: 95%;
    height: 30px;
    padding-top: 0px;
    position: absolute;
    top: -38px;
    text-align: center;
    display: none;
}

.meInfo .updating {
    display: block;
    animation: meInfoUpdateAnimation 2s;
    -moz-animation: meInfoUpdateAnimation 2s;	/* Firefox */
    -webkit-animation: meInfoUpdateAnimation 2s;	/* Safari 和 Chrome */
    -o-animation: meInfoUpdateAnimation 2s;	/* Opera */
}

.meInfo .meInfoAlert p{
    height: 30px;
    line-height: 30px;
    margin: 0px;
    text-align: center;
}

@keyframes meInfoUpdateAnimation
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-moz-keyframes meInfoUpdateAnimation /* Firefox */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-webkit-keyframes meInfoUpdateAnimation /* Safari 和 Chrome */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-o-keyframes meInfoUpdateAnimation /* Opera */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

.meFinding .meFindingItem {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #eeeeee;
    width: 100%;
    overflow: hidden;
}

.meFinding .meFindingItem .meFindingItemImage {
    padding-left: 0;
}

.meFinding .meFindingItem .meFindingItemImage img {
    width: 100%;
    height: 265px;
}

.meFinding .meFindingItem .meFindingItemImage span {
    position: absolute;
}

.meFinding .meFindingItem .meFindingItemDetail{
    padding-top: 10px;
    padding-bottom: 10px;
}

.meFinding .meFindingItem .meFindingItemDetail p{
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
    color: #666666;
}

.meFinding .meFindingItem .meFindingItemDetailTitle{
    color: brown !important;
    font-size: 15px;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
}

.meFinding .meFindingItem .meFindingItemDetailInfo {
    margin-top: 5px;
    line-height: 25px;
    height:25px;
    overflow: hidden;
    font-size: 13px;
}

.meFinding .meFindingItem .meFindingBtn {
    margin-top: 5px;
    width: 100%;
}

.meFinding .meFindingItem a:hover{
    text-decoration: none;
}

.meFinding .meFindingAlert{
    width: 95%;
    height: 30px;
    padding-top: 0px;
    position: absolute;
    top: -38px;
    text-align: center;
    display: none;
}

.meFinding .updating {
    display: block;
    animation: meFindingUpdateAnimation 2s;
    -moz-animation: meFindingUpdateAnimation 2s;	/* Firefox */
    -webkit-animation: meFindingUpdateAnimation 2s;	/* Safari 和 Chrome */
    -o-animation: meFindingUpdateAnimation 2s;	/* Opera */
}

.meFinding .meFindingAlert p{
    height: 30px;
    line-height: 30px;
    margin: 0px;
    text-align: center;
}

@keyframes meFindingUpdateAnimation
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-moz-keyframes meFindingUpdateAnimation /* Firefox */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-webkit-keyframes meFindingUpdateAnimation /* Safari 和 Chrome */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-o-keyframes meFindingUpdateAnimation /* Opera */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

.meFound .meFoundItem {
    margin-top: 30px;
    border-radius: 5px;
    background-color: #eeeeee;
    width: 100%;
    overflow: hidden;
}

.meFound .meFoundItem .meFoundItemImage {
    padding-left: 0;
}

.meFound .meFoundItem .meFoundItemImage img {
    width: 100%;
    height: 235px;
}

.meFound .meFoundItem .meFoundItemImage span {
    position: absolute;
}

.meFound .meFoundItem .meFoundItemDetail{
    padding-top: 10px;
    padding-bottom: 10px;
}

.meFound .meFoundItem .meFoundItemDetail p{
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
    color: #666666;
}

.meFound .meFoundItem .meFoundItemDetailTitle{
    color: brown !important;
    font-size: 15px;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
}

.meFound .meFoundItem .meFoundItemDetailInfo {
    margin-top: 5px;
    line-height: 25px;
    height:25px;
    overflow: hidden;
    font-size: 13px;
}

.meFound .meFoundItem .meFoundBtn {
    margin-top: 5px;
    width: 100%;
}

.meFound .meFoundItem a:hover{
    text-decoration: none;
}

.meFound .meFoundAlert{
    width: 95%;
    height: 30px;
    padding-top: 0px;
    position: absolute;
    top: -38px;
    text-align: center;
    display: none;
}

.meFound .updating {
    display: block;
    animation: meFoundUpdateAnimation 2s;
    -moz-animation: meFoundUpdateAnimation 2s;	/* Firefox */
    -webkit-animation: meFoundUpdateAnimation 2s;	/* Safari 和 Chrome */
    -o-animation: meFoundUpdateAnimation 2s;	/* Opera */
}

.meFound .meFoundAlert p{
    height: 30px;
    line-height: 30px;
    margin: 0px;
    text-align: center;
}

@keyframes meFoundUpdateAnimation
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-moz-keyframes meFoundUpdateAnimation /* Firefox */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-webkit-keyframes meFoundUpdateAnimation /* Safari 和 Chrome */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}

@-o-keyframes meFoundUpdateAnimation /* Opera */
{
    0% {top: -38px;}
    35% {top: -8px;}
    65% {top: -8px;}
    100% {top: -38px;}
}


/*
    publish finding
*/

.publishFinding {
    margin-top: 90px;
}

.publishFinding .form-group{
    margin-left: 0;
    margin-right:0;
}

.publishFindingBasicInfo input:focus, textarea:focus, select:focus{
    box-shadow: inset 0 -2px 0 brown !important;
}

.publishFindingBasicInfo .publishFindingTime input {
    ime-mode: disabled;
}

.publishFindingImage .publishFindingImageBtn {

    padding-left: 0;
    padding-right:0;
}

.publishFindingImage input{
    opacity: 0;
    position: absolute;
    width: 300px;
}

.publishFindingImage img{
    max-width: 100%;
    max-height: 500px;
}

.publishFinding .publishFindingAlert{
    width: 100%;
    height: 30px;
    padding-top: 0px;
    position: absolute;
    top: 33px;
    text-align: center;
    display: none;
}

.publishFinding .updating {
    display: block;
    animation: publishFindingUpdateAnimation 2s;
    -moz-animation: publishFindingUpdateAnimation 2s;	/* Firefox */
    -webkit-animation: publishFindingUpdateAnimation 2s;	/* Safari 和 Chrome */
    -o-animation: publishFindingUpdateAnimation 2s;	/* Opera */
}

.publishFinding .publishFindingAlert p{
    height: 30px;
    line-height: 30px;
    margin: 0px;
    text-align: center;
}

@keyframes publishFindingUpdateAnimation
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

@-moz-keyframes publishFindingUpdateAnimation /* Firefox */
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

@-webkit-keyframes publishFindingUpdateAnimation /* Safari 和 Chrome */
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

@-o-keyframes publishFindingUpdateAnimation /* Opera */
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

.publishFinding .publishBtn {
    width: 100%;
}

/*
    publish found
*/

.publishFound {
    margin-top: 90px;
}

.publishFound .form-group{
    margin-left: 0;
    margin-right:0;
}

.publishFoundBasicInfo input:focus, textarea:focus, select:focus{
    box-shadow: inset 0 -2px 0 brown !important;
}

.publishFoundBasicInfo .publishFoundTime input {
    ime-mode: disabled;
}

.publishFoundImage .publishFoundImageBtn {

    padding-left: 0;
    padding-right:0;
}

.publishFoundImage input{
    opacity: 0;
    position: absolute;
    width: 300px;
}

.publishFoundImage img{
    max-width: 100%;
    max-height: 500px;
}

.publishFound .publishFoundAlert{
    width: 100%;
    height: 30px;
    padding-top: 0px;
    position: absolute;
    top: 33px;
    text-align: center;
    display: none;
}

.publishFound .updating {
    display: block;
    animation: publishFoundUpdateAnimation 2s;
    -moz-animation: publishFoundUpdateAnimation 2s;	/* Firefox */
    -webkit-animation: publishFoundUpdateAnimation 2s;	/* Safari 和 Chrome */
    -o-animation: publishFoundUpdateAnimation 2s;	/* Opera */
}

.publishFound .publishFoundAlert p{
    height: 30px;
    line-height: 30px;
    margin: 0px;
    text-align: center;
}

@keyframes publishFoundUpdateAnimation
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

@-moz-keyframes publishFoundUpdateAnimation /* Firefox */
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

@-webkit-keyframes publishFoundUpdateAnimation /* Safari 和 Chrome */
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

@-o-keyframes publishFoundUpdateAnimation /* Opera */
{
    0% {top: 33px;}
    35% {top: 63px;}
    65% {top: 63px;}
    100% {top: 33px;}
}

.publishFound .publishBtn {
    width: 100%;
}








