/*
    For Homepage
*/

.container{
    position: relative;
    width: 80%;
    margin: auto;
}

.homepageContent {
    margin-top: 90px;
}

.homepageContent .homepageItemImage {
    height:250px;
    width: 100%;
    border-radius: 0;
}

.homepageItem {
    background-color: #eeeeee;
    border-radius: 10px;
    overflow: hidden;
}

.homepageItem .homepageItemState {
    position: absolute;
}

.homepageItem .homepageItemDetail {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.homepageItem .homepageItemDetail p {
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
}

.homepageItem .homepageItemDetail .homepageItemDetailTitle {
    line-height:20px;
    height: 40px;
    overflow: hidden;
    color: brown;
    font-size: 15px;
}

.homepageItem .homepageItemDetail .homepageItemDetailInfo {
    margin-top: 5px;
    line-height: 15px;
    height:15px;
    overflow: hidden;
    font-size: 13px;
}

/*
    For Finding
*/

.findingContent {
    margin-top: 90px;
}

.findingContent .findingType {
    width: 60%;
}

.findingContent .findingTypeLabel {
    height: 30px;
    line-height: 30px;
}

.findingContent .findingTypeNav li a{
    color: brown;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.findingContent .findingTypeNav li.active a {
    color: white;
    background-color: brown;
    line-height: 30px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.findingSection {
    margin-top: 30px;
}

.findingSection .findingItem .findingItemImage img{
    height: 250px;
    width: 100%;
}

.findingSection .findingItem .findingItemDetail {
    height: 250px;
}

.findingSection .findingItem .findingItemDetail p {
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
}

.findingSection .findingItem .findingItemDetail .findingItemTitle {
    color: brown;
    line-height:30px;
    height: 60px;
    overflow: hidden;
    font-size: 15px;
}

.findingSection .findingItem .findingItemDetail .findingItemInfo {
    line-height: 35px;
    height:35px;
    overflow: hidden;
    font-size: 13px;
}

.findingSection .findingItem .findingItemDetail .findingItemPay {
    color: #e08600;
}

/*
    For Founding
*/

.foundContent {
    margin-top: 90px;
}

.foundContent .foundType {
    width: 60%;
}

.foundContent .foundTypeLabel {
    height: 30px;
    line-height: 30px;
}

.foundContent .foundTypeNav li a{
    color: brown;
    height: 30px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.foundContent .foundTypeNav li.active a {
    color: white;
    background-color: brown;
    line-height: 30px;
    height: 30px;
    padding-top: 0;
    padding-bottom: 0;
}

.foundSection {
    margin-top: 30px;
}

.foundSection .foundItem .foundItemImage img{
    height: 250px;
    width: 100%;
}

.foundSection .foundItem .foundItemDetail {
    height: 250px;
}

.foundSection .foundItem .foundItemDetail p {
    word-wrap: break-word;
    word-break: normal;
    white-space: pre-wrap;
    width: 100%;
    margin-bottom: 0px;
}

.foundSection .foundItem .foundItemDetail .foundItemTitle {
    color: brown;
    line-height:30px;
    height: 60px;
    overflow: hidden;
    font-size: 15px;
}

.foundSection .foundItem .foundItemDetail .foundItemInfo {
    line-height: 44px;
    height:44px;
    overflow: hidden;
    font-size: 13px;
}

.foundSection .foundItem .foundItemDetail .foundItemPay {
    color: #e08600;
}



